@font-face {
    font-family: Vanitas;
    src: url('./fonts/Vanitas-Bold.otf');
}
@font-face {
    font-family: Nova;
    src: url('./fonts/nova.ttf');
}
@font-face {
    font-family: ProximaNova;
    src: url("./fonts/Proxima-Nova-medium.ttf");
}
@font-face {
    font-family: EBGaramond;
    src: url("./fonts/EBGaramond-Regular.ttf");
}

html {
    scroll-behavior: smooth;
    text-size-adjust: none;
    font-size: 50px;
    -webkit-text-size-adjust:none;
}

body {
    font-family: EBGaramond, sans-serif;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}


.title {
    font-family: Vanitas, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    letter-spacing: 3.5px;
}

.title div {
    margin: 0.25rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.photo {
    display: block;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    border: 8px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 4px;
}

.photo-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


nav {
    font-size: 0.8rem;
    margin-top: 0.75rem;
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav a {
    margin: 0.3rem;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    flex-shrink: 0;
    flex-grow: 1;
}

a:hover {
    color: #6b6e6d;
}


.dear-friends {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.invitation {
    margin: 1em 0;
}

.date {
    margin: 1rem 0 0 0;
    font-weight: bold;
    text-transform: uppercase;
}

.and-img {
    max-height: 8rem;
    object-fit: contain;
    margin: 1rem 0;
}

.schedule-list {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-around;
    flex: auto;
}

.schedule-list-header {
    font-weight: bold;
    text-align: center;
}

.schedule-list div {
    margin: 0.25rem;
}

.separator {
    padding: 1rem 0;
    border-bottom: black 3px solid;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section .sub_header {
    font-size: 1.5rem;
    line-height: 1.6;
    margin: 1em 0;
}

.section_header {
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    border-bottom: black 3px solid;
}

.color-palette {
    display: flex;
    margin: 1rem;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.circle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: white 2px solid;
    margin: 0.35rem;
}

.circle:nth-of-type(1) {
    background: rgb(103, 75, 65);
}

.circle:nth-of-type(2) {
    background: rgb(186, 158, 138);
}

.circle:nth-of-type(3) {
    background: rgb(121, 80, 63);
}

.circle:nth-of-type(4) {
    background: rgb(163, 139, 122);
}

.circle:nth-of-type(5) {
    background: rgb(24, 23, 17);
}

 #info + .sub_header {
    font-weight: bold;
}

.portrait-circle {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 1rem;
}

.portrait-circle img {
    width: 100%;
    height: auto;
}

.plane-departure {
    width: 35%;
}

.plane-departure:nth-of-type(2) {
    transform: rotateY(180grad);
}

.contacts-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact {
    font-size: 1.25rem;
}

.contact .sub_header {
    margin-bottom: 0;
}